:root {
    --ff-poppins: 'Poppins', sans-serif;
    --ff-graphik: "Graphik XCond Web", Oswald, HelveticaNeue-CondensedBold, "Open Sans Condensed", Helvetica, Arial, sans-serif;

    --dark-blue: #0a5071;
    --white: #ffffff;
    --black: #23221f;
    --gray: #6c757d;
    --red: #ff003c;
    --dark-red: #c00;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-poppins) !important;
}

*, *::after, *::before {
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

body, 
h1, 
h2, 
h3,
h4,  
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span {
    margin-bottom: 0 !important;
}

textarea {
    resize: none;
}

a {
    text-decoration: none !important;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}


ul {
    margin-bottom: 0;
}

ul, ol {
    list-style: none !important;
}

html,
html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

.scroll-button {
    background: #f2f2f2;
    color: var(--black);
    position: fixed;
    bottom: 16px;
    right: 32px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    pointer-events: none;
    opacity: 0;
    transition: all .4s;
    z-index: 999;
    border-radius: 5px;
}

.scroll-button:hover {
    background: #e6e6e6;
}

.scroll-button.active {
    bottom: 32px;
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

/* Menu */

header {
    /* position: sticky !important;
    top: 0;
    left: 0; */
    width: 100%;
    background: var(--dark-blue);
    /* z-index: 9999; */
}

header nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px;
}

header nav .nav-icon > a {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700 !important;
    font-style: italic;
    letter-spacing: .75px;
}

header nav .nav-icon a > b {
    color: var(--red);
}

header nav .nav-list > ul {
    display: flex;
    width: 100%;
    margin: auto 0;
}

header nav .nav-list ul > li {
    margin: 0 .1rem;
}

header nav .nav-list ul li > a {
    font-size: .9rem;
    color: var(--white);
    text-transform: uppercase;
    padding: .6rem .8rem;
    font-weight: 500;
}

header nav .nav-list ul li:hover a {
    background: var(--white);
    color: var(--dark-blue);
}

header nav .nav-search {
    display: flex;
    margin: auto 0;
    height: 2rem;
    line-height: 2rem;
}

header nav .nav-search > input {
    background: var(--white);
    height: 100%;
    width: 20rem;
    padding: 5px 10px;
    font-size: .85rem;
}

header nav .nav-search > input,
header nav .nav-search > input:focus {
    border: none;
    outline: 0;
}

header nav .nav-search i {
    background: var(--white);
    color: var(--dark-blue);
    font-size: .9rem;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

/* 

header .nav-search i:hover {
    color: var(--white);
}

header .nav-search i::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--red);
    z-index: -1;
    transition: .5s;
}

header .nav-search i:hover::after {
    width: 100%;
}

*/


header .nav-menu-bar {
    position: relative;
    display: none;
    width: 100%;
    margin: auto;
}

header .nav-menu-bar i {
    position: absolute;
    color: var(--white);
    font-weight: 2rem;
}

header input[class="cb-menu"] {
    display: none !important;
}

/* Section */
section {
    position: relative;
    width: 100%;
    padding: 30px 0 15px;
    overflow: hidden;
}

section .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

section a {
    color: var(--black);
}

section a:hover {
    color: var(--dark-blue);
}

section .size-img {    
    width: 100% !important;
    height: auto !important;
}

.sct-dashboard .main-title-thumbnail .post-title {
    text-align: center;
    margin-bottom: .5rem;
}

.sct-dashboard .main-title-thumbnail .post-title > a {
    font-size: 1.75rem !important;
    line-height: 2rem;
    height: 2rem;
    font-weight: 700;
}

.sct-dashboard .main-title-thumbnail .post-img-category {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.sct-dashboard .main-title-thumbnail .post-img-category .status {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--dark-red);
    padding: 4px 15px 8px;
}

.sct-dashboard .main-title-thumbnail .post-img-category img {
    margin-bottom: .5rem;
}

.sct-dashboard .main-title-thumbnail .post-img-category .status > span {
    font-size: .75rem;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
}

.sct-dashboard .first-content .col-01 .post-header > a {
    font-size: 1rem !important;
}

.sct-dashboard .first-content .col-02 {
    padding-bottom: 5px !important;
}

.sct-dashboard .first-content .col-03 .sub-title-thumbnail .sub-post {
    margin-bottom: 0 !important;
}

.sct-dashboard .sub-title-thumbnail .sub-header > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #f2f2f2;
}

.sct-dashboard .sub-title-thumbnail .sub-header > a,
.sct-dashboard .sub-title-thumbnail .sub-header a > .icon-next {
    transition: all .2s ease;
}

.sct-dashboard .sub-title-thumbnail .sub-header > a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.sct-dashboard .sub-title-thumbnail .sub-header a > .icon-next {
    background: #e6e6e6;
}

.sct-dashboard .sub-title-thumbnail .sub-header a:hover > .icon-next {
    background: rgba(0, 0, 0, 0.15);
}

.sct-dashboard .sub-title-thumbnail .sub-header a > .icon-next .bx {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem; 
}

.sct-dashboard .sub-title-thumbnail .sub-header a span:nth-child(1),
.sct-dashboard .sub-title-thumbnail .sub-header a > .icon-next {
    padding: .5rem .7rem;
    color: #404040;
}

.sct-dashboard .sub-title-thumbnail .sub-header a span:nth-child(1) {
    font-weight: 700;
}

.sct-dashboard .sub-title-thumbnail .sub-post {
    margin: .5rem 0 1rem;
}

.sct-dashboard .sub-title-thumbnail .sub-post > a {
    font-size: 1.25rem !important;
}

.sct-dashboard .first-content .col-01 .post-header > a,
.sct-dashboard .sub-title-thumbnail .sub-post > a {
    font-weight: 700;
    line-height: .75rem;
    height: .75rem;
    letter-spacing: 0;
}

.sct-dashboard .small-title ul {
    position: relative;
}

.sct-dashboard .small-title ul .icon-video {
    color: var(--red); 
}

.sct-dashboard .small-title ul .line-horizontal {
    display: inline-block;
    width: 100%;
}

.sct-dashboard .small-title ul .line-horizontal::after {
    content: '';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    border-top: 1px solid var(--gray);
    opacity: .5;
}

section .title-name {
    padding: 2rem 0 .75rem;
    overflow: hidden;
}

section .title-name .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

section .title-name .header h2 {
    position: relative;
    width: 100%;
    color: var(--black);
    font-size: 1.5rem;
}

section .title-name .header h2 .inline-horizontal,
section .title-name .header h2 .inline-horizontal::after {
    position: absolute;
    display: inline-block;
    width: 100%;
    opacity: .5;
}

section .title-name .header h2 .inline-horizontal {
    bottom: 5px;
    border-top: 4px solid var(--gray) !important;
    margin-left: 10px;
}

section .title-name .header h2 .inline-horizontal::after {
    bottom: 10px;
    border-bottom: 4px solid var(--gray);
    content: "";
}

.sct-dashboard .third-content {
    height: 100%;
}

.sct-dashboard .third-content .scroll-bar-list {
    overflow: hidden;
    overflow-y: scroll;
    height: 360px;
}

.sct-dashboard .third-content .box-video .position-video,
.sct-dashboard .third-content .scroll-bar-list .col-4 .position-video {
    position: relative;
    width: 100%;
}

.sct-dashboard .third-content .box-video .position-video {
    margin-bottom: .3rem;
}

.sct-dashboard .third-content .scroll-bar-list .col-4 .position-video {
    margin-bottom: 1rem;
}

.sct-dashboard .third-content .box-video .position-video .icon-play,
.sct-dashboard .third-content .scroll-bar-list .col-4 .position-video .icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sct-dashboard .third-content .box-video a:hover .position-video .icon-play .bx,
.sct-dashboard .third-content .box-video a:hover .position-video img,
.sct-dashboard .third-content .scroll-bar-list .col-4 a:hover .position-video .icon-play .bx,
.sct-dashboard .third-content .scroll-bar-list .col-4 a:hover .position-video img {
    opacity: .9;
    transition: all .3s ease-in-out;
}

.sct-dashboard .third-content .box-video a .position-video .icon-play .bx,
.sct-dashboard .third-content .scroll-bar-list .col-4 a .position-video .icon-play .bx {
    background: rgba(0, 0, 0, 0.3);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%;
}

.sct-dashboard .third-content .box-video a .position-video .icon-play .bx {
    font-size: 3rem;
    padding: 10px;
}

.sct-dashboard .third-content .scroll-bar-list .col-4 a .position-video .icon-play .bx {
    font-size: 1.5rem;
    padding: 5px; 
}

.sct-dashboard .third-content .box-video a span {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0;
}

.sct-dashboard .third-content .scroll-bar-list .col-4 {
    padding-right: 0 !important;
}

.sct-dashboard .third-content .scroll-bar-list .col-8 {
    padding-left: .5rem !important;
}

/* Feedback */
.sct-feedback .text-black {
    color: var(--black);
}

.sct-feedback .form-control {
    border: none;
    border: 1px solid #d9d9d9;
}

.sct-feedback .form-control:active,
.sct-feedback .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: var(--black);
}

.sct-feedback .col-form-label {
    color: var(--black);
    font-weight: 700;
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.sct-feedback .col-md-6 h2,
.sct-feedback .container-fluid .mr-auto h4  {
    font-size: 2.5rem;
    font-weight: 700 !important;
    color: var(--black);
    font-family: var(--ff-poppins) !important;
}

.sct-feedback .list-unstyled li {
    display: flex;
    width: 100%;
    align-items: center;
}

.sct-feedback .list-unstyled .mr-3 .bx {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 10px;   
}

.sct-feedback input {
    font-size: .9rem !important;
    padding: .5rem .75rem;
}

.sct-feedback input[type="submit"] {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 10px 15px;
}

.sct-feedback input[type="submit"],
.sct-feedback input[type="submit"]:active,
.sct-feedback input[type="submit"]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sct-feedback .map .leaflet {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 350px;
}

.sct-feedback .o-member {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.sct-feedback .o-member .card {
    display: flex;
    align-items: center;
    height: 370px;
    width: 280px;
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center !important;
}

.sct-feedback .o-member .card .bg-image > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 45% 100%, 0 70%);
}

.sct-feedback .o-member .picture > img {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid var(--dark-blue);
    margin-top: -100px;
}

.sct-feedback .o-member .info h4 {
    color: var(--black);
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 500;
}

.sct-feedback .o-member .info .code {
    color: #e74c3c;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sct-feedback .o-member .info .code .position {
    margin-left: 4px;
    font-size: 14px;
}

.sct-feedback .o-member .info .socials a {
    display: inline-block;
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    padding: 0 10px;
    transition: all .3s ease-in-out;
}

.sct-feedback .o-member .info .socials a:hover {
    transform: translateY(-5px);
}

/* City */
.sct-city .mxw-config {
    max-width: 640px !important;
}

.sct-city .ci-content {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sct-city .ci-content .ci-wrapper {
    padding-bottom: 20px;
}

.sct-city .ci-content .ci-wrapper h4 {
    font-family: var(--ff-graphik) !important;
    font-size: 2rem;
}

.sct-city .ci-content .ci-wrapper span {
    font-weight: 300 !important;
    font-size: .8rem;
    font-style: italic;
}

.sct-city .ci-content .ci-below h6 {
    font-family: var(--ff-graphik) !important;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 10px !important;
} 

.sct-city .ci-content .ci-below img {
    width: 100% !important;
    height: auto !important;
}

.sct-city .ci-content .ci-below .note-thumbnail {
    font-style: italic;
    font-size: .75rem;
}

.sct-city .ci-content .ci-below h4 {
    font-size: 1rem;
    padding: .75rem 0 0 !important;
    font-weight: 700;
}

.sct-city .ci-content .ci-below .col-md-6 {
    margin-bottom: 5px;
}

.sct-city .ci-content .ci-below .col-md-6 h4 {
    font-family: var(--ff-graphik) !important;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .25rem !important;
}

.sct-city .ci-content .ci-below .col-md-6 span {
    display: block;
    font-size: .75rem;
    text-transform: uppercase;
}

.sct-city .ci-content .ci-below .col-md-6 img {
    width: 100% !important;
    height: 220px !important;
    object-fit: cover;
}

.sct-city .ci-content .ci-below .col-md-6 ul {
    display: flex;
    margin: 0 auto;
}

.sct-city .ci-content .ci-below .col-md-6 ul li {
    margin: 10px 20px 0 0;
}

.sct-city .ci-content .ci-below p {
    font-size: .975rem;
    margin-top: .9rem !important;
}

.sct-city .ci-content .ci-below .line-end {
    width: 125px;
}

.sct-city .ci-content .ci-below .line-end.line-end-5 {
    display: none !important;
}

/* Other */
.sct-other .swiper .swiper-slide {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.sct-other .swiper .get-slide img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.sct-other .swiper .get-slide .info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 30px;
    color: var(--white);
}

.sct-other .swiper .get-slide .info h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

.sct-other .swiper .get-slide .info a {
    display: block;
    background: rgba(0, 0, 0, 0.4);
    color: var(--white);
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border-radius: 4px;
}

.sct-other .swiper .swiper-button-next,
.sct-other .swiper .swiper-button-prev {
    top: 45px;
    color: var(--white);
}

.sct-other .swiper .get-slide .info a:hover {
    color: #e6e6e6;
}

/* Footer */
footer .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

footer {
    position: relative;
    width: 100%;
    background: var(--dark-blue);
    padding: 15px 0;
}

footer .ftr-header {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

footer .ftr-header .logo > a {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    font-style: italic;
    letter-spacing: .75px;
}

footer .ftr-header .logo a > b {
    color: var(--red);
}

footer .ftr-header .follow {
    display: flex;
    align-items: center;
}

footer .ftr-header .follow span {
    color: var(--white);
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 15px;
    border-left: 1px solid var(--white);
}

footer .ftr-header .follow ul {
    display: flex;
    list-style: none;
    margin: auto 0;
}

footer .ftr-header .follow ul li {
    margin: 0 .25rem;
}

footer .ftr-header .follow ul li > a {
    font-size: 1.25rem;
    color: var(--white);
    display: inline-block;
    transition: .5s;
}

footer .ftr-header .follow ul li > a:hover {
    transform: translateY(-5px);
}

footer .hr-line {
    margin: 0 !important;
    padding: 0 !important;
    border-top: 1px solid var(--white);
    opacity: .5;
}

footer .ftr-body {
    position: relative;
    width: 100%;
    padding: 20px 0;
}

footer .ftr-body ul {
    list-style: none;
    margin: auto 0;
}

footer .ftr-body ul li {
    display: inline-block;
    margin: 0 .75rem 0 0;
}

footer .ftr-body ul li > a {
    color: var(--white);
    font-size: .9rem;
}

footer .ftr-copyright {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
}

footer .ftr-copyright span {
    color: var(--white);
    font-size: .75rem;
}

/* Media */

/* 1440 Pixels */

@media (min-width: 1440px) {
    .sct-dashboard .first-content .col-01 {
        flex: 0 0 38%;
        max-width: 38%;
    }

    .sct-dashboard .first-content .col-02,
    .sct-dashboard .first-content .col-03 {
        flex: 0 0 31%;
        max-width: 31%;
    }
}

@media (min-width: 991px) {
    .sct-dashboard .second-content .small-title ul {
        padding-bottom: 15px;
    }

    .sct-dashboard .third-content {
        padding-bottom: 15px !important;
    }
}

@media (min-width: 768px) {
    .sct-dashboard .second-content .img-animation {
        width: 70%;
        height: auto;
    }
}

/* 1250 Pixels */

@media (max-width: 1250px) {
    header nav {
        display: block;
        padding: 0;
    }

    header nav .nav-icon {
        display: inline-block;
        padding: 15px 30px;
    }

    header nav .nav-search {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    header nav .nav-search > input {
        width: 90% !important;
    }

    header nav .nav-list > ul {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        background: var(--white);
        height: 0;
        visibility: hidden;

    }

    header nav .nav-list ul > li {
        text-align: center;
        margin: 0 15px !important;
    }

    header nav .nav-list ul li > a {
        display: block;
        color: var(--black);
        padding: 15px 0 !important;
    }

    header nav .nav-menu-bar {
        position: absolute !important;
        display: flex !important;
        justify-content: flex-end;
        top: 5px;
        right: 0;
        cursor: pointer;
        padding: 15px 30px;
    }

    header nav .nav-menu-bar #bx-cls-menu {
        display: none;
    }

    #cb-menu:checked ~ nav .nav-menu-bar #bx-op-menu {
        display: none;
    }

    #cb-menu:checked ~ nav .nav-menu-bar #bx-cls-menu {
        display: block;
    }

    #cb-menu:checked ~ nav .nav-list > ul {
        visibility: visible;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .sct-other .swiper .get-slide img {
        height: 300px;
    }
}

@media (max-width: 991.50px) { 
    .sct-dashboard .third-content .box-video {
        padding-bottom: 1rem;
    }

    .sct-dashboard .third-content .scroll-bar-list {
        height: auto;
    }
    
    .sct-other .swiper .get-slide img {
        height: 350px !important;
    }
}

/* 991 Pixels */
@media (max-width: 991px) { 
    section .container,
    footer .container {
        max-width: 100% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    section .row .col-12 {
        padding-bottom: 15px !important;
    }

    section .title-name {
        padding: .75rem 0 1rem;
    }
    
    .sct-dashboard .third-content .box-video {
        padding-bottom: 0;
    }
}

/* 768 Pixels */

@media (max-width: 768px) {

    header nav .nav-list > ul {
        display: flex;
        flex-direction: column;
        align-items: none;
        justify-content: none;
    }

    header nav .nav-list ul > li {
        margin: 0 !important;
    }
    
}

/* 425 Pixels */

@media (max-width: 425px) {
    header nav .nav-search {
        padding: 0 !important;
    }

    header nav .nav-search .bx-search-alt {
        display: none;
    }

    footer .ftr-header {
        display: block;
    }

    .sct-other .swiper .get-slide img {
        height: 300px !important;
    }
}

/* 400 Pixels */
@media (max-width: 400px) { 
    section .title-name .header h2 {
        font-size: 1.4rem;
    }

    .sct-dashboard .second-content .img-animation {
        width: 100%;
        height: 280px !important;
    }
}

/* 375 Pixels */

@media (max-width: 375px) { 
    .sct-dashboard .second-content .img-animation {
        height: 265px !important;
    }
}